[Unit]
Description=UBC AweSEM Web App
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/env authbind --deep python3 /home/pi/awesem/webapp/run.py

[Install]
WantedBy=multi-user.target
